					
					<ul id="menu" style="font-size:15px">
						<li>
							<a href="/" title="">
							<span>Página Inicial</span>
							</a>
						</li>
																
						{% if perms.controle_usuario %}
							<li><a href="/usuario/consulta/">Usuário</a></li>
						{% endif %}
	
						{% if perms.controle_grupo %}
							<li><a href="/grupo/consulta/">Grupo</a></li>
						{% endif %}
	
						{% if perms.controle_permissao %}
							<li><a href="/permissao/consulta/">Permissão</a></li>
						{% endif %}					
					</ul>
