{% extends "core/base/pagina.html" %} 
{% load static %} 

{% block breadcumbs %}
	Acesso Restrito | Usuário | Edição
{% endblock %}

{% block title %}
	Edição do usuário	
{% endblock %}

{% block subtitle %}
	EDITAR USUÁRIO
{% endblock %}


{% block form %}
		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td> <input value="{{ user_obj.first_name }}" name="first_name" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Sobrenome:</label> </td><td> <input value="{{ user_obj.last_name }}" name="last_name" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Email:</label> </td><td> <input name="email" value="{{ user_obj.email }}" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Login:</label> </td><td> <input value="{{ user_obj.username }}" name="username" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Senha:</label> </td><td> <input type="password" size="12" name="password" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Ativo:</label> </td>
				   <td>
				   		{% if user_obj.active == True %} 
							<input checked="checked" type="checkbox" name="is_active" />
						{% else %}
							<input type="checkbox" name="is_active" />
						{% endif %}
				   </td> </tr>
				</table>
		</div>

		<br />
		<table class="csstable"  style="width:100%">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:5%"> </td>
					<td class="colunaTabelaConsulta" style="width:95%">Grupos</td>
				</tr>
				{% if grupo %}
					{% for k,v in result %}
						<tr>
							<td class="colunaTabelaConsulta">
								{% if v %}
									{% if user.is_superuser == True %}
										<input checked="checked" name="{{ k }}" type="checkbox" />
									{% else %}
										<input disabled="disabled" checked="checked" name="{{ k }}" type="checkbox" />
									{% endif %}
								{% else %}
									{% if user.is_superuser == True %}
										<input name="{{ k }}" type="checkbox" />
									{% else %}
										<input disabled="disabled" name="{{ k }}" type="checkbox" />
									{% endif %}
								{% endif %}
							</td>
							<td class="colunaTabelaConsulta">{{ k }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Cadastre Grupos de Usuário </td> </tr>
				{% endif %}
			</tbody>
		</table>
		<br/>
		
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>

{% endblock %}
