{% extends "core/base/cadastro.html" %} 
{% load static %} 

{% block breadcumbs %}
	Acesso Restrito | Permissão | Cadastro
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR PERMISSÃO
	
{% endblock %}

{% block formulario %}

	<form method="post" action="">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td><input name="nome"/></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Codenome:</label> </td><td><input name="codenome"/></td> </tr>
<!--
				   <tr> <td class="colunaTabela"> <label>Funcionalidade:</label> </td>
				   	<td>
				   		<select name="content"  style="width:150px">
							{% for obj in content %}
								<option value="{{ obj.id }}">{{obj.name}}</option>
							{% endfor %}
						</select>		
				   	</td>
				   </tr>
-->
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/permissao/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>

{% endblock %}