{% extends "core/base/index.html" %} 
{% load static %}

{% block breadcumbs %}
	Página Inicial
{% endblock %}

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

			<h2>
				{% block subtitulo %}
					PÁGINA INICIAL
				{% endblock %}
			</h2>
		
			<div>

			{% if user.is_active %}

				Área do usuário logado

			{% else %}

				Não logado

			{% endif %}				



			</div>	
			

{% endblock %}

